
<div class="view">
  <nav class="navbar " >
      <div class="navbar-brand" style="float: left; margin-right: 70%;">
        <img  src="../assets/image/aeroplane.png" width="40" height="40" class="d-inline-block align-top" >
        <b style="font-size: 160%;">Flight Reservation System</b>
      </div>
      <div style="margin-left: 85%;">
        <button (click)="Home()"  >HOME </button>
        <button   (click)="onLogin()" >Login </button>
      </div>
  </nav>
  
  </div>







<router-outlet></router-outlet>